.descriptionForm h1 {
  text-align: left;
  margin-bottom: 5px;
  font-size: 25px;
}

.descriptionForm p {
  margin-bottom: 10px;
}

.descriptionForm {
  padding-bottom: 50px;
}


.containerForm {
  padding: 50px 20px;
  background-color: #f2f2f2;
  border-radius: 15px;
}

.button {
  width: 50%;
  background-color: #f36300;
}

.button:hover {
  background-color: #f88f49;
}

.divButton {
  display: flex;
  align-items: center;
  justify-content: center;

}

.inputEmail {
  padding-left: 10px;
}